:root{
    --max-width: 1400px;
    --header-height: 4rem;
    --font: "Raleway", sans-serif;
  }
  
  /************reset************/
  
  html{
    scroll-behavior: smooth;
    font-family: var(--font);
  }
  body{
    margin: 0;
    overflow-x: hidden;
  }
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
 
  .login{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "header"
    "login"
    "footer";
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    background-color: #2b6ca3;
    background-image: url(imagenes/imagen2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
  .login-content{
    grid-area: login;
    background: linear-gradient(90.18deg, #1d1d1ddc 31.74%, #1d1d1ddc 90.49%, #1d1d1ddc 90.49%);
    box-shadow: 2px 2px 5px 1px rgba(10, 10, 10, 0.63);
    border-radius: 20px;
  }
    
  .login-in{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    padding: 1rem 0;
  }
  .login-in  h4{
    color: white;
    margin: 0;
  }
  .login-in h1{
    color: white;
    margin-top:0;
    text-align: center;
    font-size: 1.25rem;
  }
  .login-in a{
    text-align: center;
  }
  .login-in form{
    margin: auto 2rem;
    margin-bottom: 1.5rem;
  }
  .login-in input{
    width: 100%;
    height: 2rem;
    margin: 1rem 0;
    border: 0;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .login-error{
    color: red;
    text-align: center;
    margin-top: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 0;
  }
  .title{
    grid-area: header;
    margin-top: 0;
    display: flex;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    text-shadow:1px 1px 10px rgba(255,255,255,0.1),0px -1px 1px rgba(0,0,0,0.6);
  }

  .title h2{
    margin-bottom: 0;
  }
  
  .footer{
    grid-area:footer;
    width: 100%;
    color: white;
    bottom: 0;
    display: flex;
    align-items: end;
    justify-content: center;
  }
  a {
    text-decoration: none !important;
    color: inherit;
    font: bold;
    font-size: 1.1rem;
  }
 
  /********** TABLET SCREEN ********/
  
  @media screen and (min-width: 768px){
    .login-in{
      width: 600px;
    }
  }
  
  /********** NOTEBOOK & DESKTOP SCREEN ********/
  @media screen and (min-width: 1024px){
    .login-in{
      width: 600px;
    }
      .title{
     font-size: 1.5rem;
    }
    .login-in{
      padding: 1rem;
    }
    .login-in input{
      height: 3rem;
      font-size: 1.15rem;
    }
    .footer{
      position: absolute;
      padding: 2rem;
    }
  }